/segundoParcial/practicas/practica3-interfaces/nbproject/private/
/segundoParcial/practicas/practica3-interfaces/build/
/segundoParcial/laboratorio/SesionLab3/nbproject/private/
/segundoParcial/laboratorio/SesionLab3/build/
/segundoParcial/Practica-3-POO/nbproject/private/
/segundoParcial/Practica-3-POO/build/
/tercer-parcial/practica-4/nbproject/private/
/tercer-parcial/practica-4/build/
/tercer-parcial/parte2/nbproject/private/
/tercer-parcial/parte2/build/